html
   head
      title Welcome
      link(rel='stylesheet', href='stylesheets/style.css')
   body
      #content
         img(src='images/logo.jpg' width="50%" heigh="50%")
         p=msg

